In [2]:
import pandas as pd
import numpy as np

In [4]:
path_dataset = "../../Datasets/MICRODADOS_ENEM_2019_SAOPAULO_FILTERED.parquet"

df = pd.read_parquet(path_dataset)

In [5]:
df.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT
0,190001595657,20.0,M,1,1,1,0,0,0,0,...,NaN,None,None,None,None,0,None,None,None,None
1,190001592264,20.0,F,1,1,1,0,0,0,0,...,NaN,None,None,None,None,0,None,None,None,None
2,190001592266,17.0,M,2,0,2,0,1,1,1,...,480.7,BADADDBADBBECEBBCECBCBEBBBCBABDECDEACADDADCEE,CDACAEDDABABADCEBABCBEEBACBBCBCDADCEEDABCAADA,EBBBC99999BCDBEBEECCDACDADEBABCBDDBDDBAEECCBAC...,DACCDBCBBDDDCCAECBABBABCCBCEBDBCBBBACCBCCEDCB,0,DADCCEBBCCACBEEBEEBACBCDDDDADBCBBCEAEADEADAAE,ACACEEBCCBABADBBBACDBBACCCCADCEBADCBEEDBBEADB,EBBADCABDABACBCEBDEEAAADDBECDECDDBADBCDAAECBCC...,DBEBACABCDBABECEEEDCBDCCEDCDABEDAADDDECACAECB
3,190001595658,30.0,F,1,13,1,0,0,0,0,...,NaN,None,None,None,None,1,None,None,None,None
4,190001595663,23.0,M,1,6,1,0,0,0,0,...,NaN,None,None,None,None,0,None,None,None,None