In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import  pyarrow.parquet as pq

In [14]:
dfItens = pd.read_csv("../../Microdados_enem_2019/DADOS/ITENS_PROVA_2019.csv", sep=';',encoding='iso-8859-1')

In [27]:
arrayGab = {"CN":[], "MT":[], "CH":[], "LC":[]}

lstRows = []

for subject in arrayGab.keys():
    dfSubject = dfItens[dfItens["SG_AREA"]==subject]

    blueCode = dfSubject[dfSubject["TX_COR"]=="Azul"]["CO_PROVA"].unique()[0]
    dfCodes = dfSubject[dfSubject["CO_PROVA"]==blueCode][["CO_ITEM"]]

    for code in dfSubject['CO_PROVA'].unique():

        dfSubjectFiltered = dfSubject[dfSubject["CO_PROVA"]==code][["CO_ITEM", "CO_POSICAO", "TP_LINGUA"]]

        if subject == "LC":
            for i in range(2):
                dfSubjectFiltered[]
                dfSubjectFiltered["CO_POSICAO"] = dfSubjectFiltered["CO_POSICAO"] - np.min(dfSubjectFiltered["CO_POSICAO"])

        dfCodes = dfCodes.merge(dfSubjectFiltered, on="CO_ITEM", how="left", suffixes=(None, "_"+str(code)))

    dfCodes.rename(columns= {"CO_POSICAO":"CO_POSICAO_" + str(blueCode)}, inplace=True) 
    arrayResp[subject] = dfCodes

arrayResp["MT"].loc[0,"CO_POSICAO_522"] = 15

In [28]:
arrayResp["MT"]

,CO_ITEM,CO_POSICAO_515,CO_POSICAO_516,CO_POSICAO_517,CO_POSICAO_518,CO_POSICAO_522,CO_POSICAO_526,CO_POSICAO_555,CO_POSICAO_556,CO_POSICAO_557,CO_POSICAO_558
0,117635,0,3,6,15,15.0,15,NaN,NaN,NaN,NaN
1,9779,1,4,7,16,16.0,16,NaN,NaN,NaN,NaN
2,111608,2,5,8,17,17.0,17,NaN,NaN,NaN,NaN
3,111696,3,27,31,41,41.0,41,NaN,NaN,NaN,NaN
4,63187,4,8,12,0,0.0,0,NaN,NaN,NaN,NaN
5,117612,5,9,13,1,1.0,1,NaN,NaN,NaN,NaN
6,63808,6,10,14,2,2.0,2,NaN,NaN,NaN,NaN
7,54448,7,11,15,3,3.0,3,NaN,NaN,NaN,NaN
8,86432,8,12,16,4,4.0,4,NaN,NaN,NaN,NaN
9,23065,9,13,17,5,5.0,5,NaN,NaN,NaN,NaN
10,117798,10,14,18,6,6.0,6,NaN,NaN,NaN,NaN
11,30740,11,15,19,7,7.0,7,NaN,NaN,NaN,NaN
12,30436,12,16,20,8,8.0,8,NaN,NaN,NaN,NaN
13,117725,13,17,21,9,9.0,9,NaN,NaN,NaN,NaN
14,84409,14,18,22,10,10.0,10,NaN,NaN,NaN,NaN
15,28434,15,19,23,11,11.0,11,NaN,NaN,NaN,NaN
16,117607,16,20,24,12,12.0,12,NaN,NaN,NaN,NaN
17,30570,17,21,25,13,13.0,13,NaN,NaN,NaN,NaN
18,84374,18,22,26,14,14.0,14,NaN,NaN,NaN,NaN
19,83754,19,23,27,37,37.0,37,NaN,NaN,NaN,NaN
20,39708,20,24,28,38,38.0,38,NaN,NaN,NaN,NaN
21,117950,21,25,29,39,39.0,39,NaN,NaN,NaN,NaN
22,117845,22,26,30,40,40.0,40,NaN,NaN,NaN,NaN
23,117726,23,28,34,18,18.0,18,NaN,NaN,NaN,NaN
24,8368,24,29,35,19,19.0,19,NaN,NaN,NaN,NaN
25,13303,25,30,36,20,20.0,20,NaN,NaN,NaN,NaN
26,14324,26,31,37,21,21.0,21,NaN,NaN,NaN,NaN
27,18002,27,32,38,22,22.0,22,NaN,NaN,NaN,NaN
28,42803,28,33,39,23,23.0,23,NaN,NaN,NaN,NaN
29,117743,29,34,40,24,24.0,24,NaN,NaN,NaN,NaN
30,10360,30,35,41,25,25.0,25,NaN,NaN,NaN,NaN
31,31184,31,36,42,26,26.0,26,NaN,NaN,NaN,NaN
32,8401,32,37,43,27,27.0,27,NaN,NaN,NaN,NaN
33,117818,33,38,44,28,28.0,28,NaN,NaN,NaN,NaN
34,117783,34,0,9,29,29.0,29,NaN,NaN,NaN,NaN
35,83792,35,1,10,30,30.0,30,NaN,NaN,NaN,NaN
36,8442,36,2,11,31,31.0,31,NaN,NaN,NaN,NaN
37,89634,37,40,32,42,42.0,42,NaN,NaN,NaN,NaN
38,78445,38,41,33,43,43.0,43,NaN,NaN,NaN,NaN
39,17642,39,42,2,34,34.0,34,NaN,NaN,NaN,NaN
40,117767,40,43,3,35,35.0,35,NaN,NaN,NaN,NaN
41,83955,41,44,4,36,36.0,36,NaN,NaN,NaN,NaN
42,111593,42,39,5,44,44.0,44,NaN,NaN,NaN,NaN
43,111518,43,6,0,32,32.0,32,NaN,NaN,NaN,NaN
44,83994,44,7,1,33,33.0,33,NaN,NaN,NaN,NaN

In [29]:
arr = dfItens[dfItens["CO_PROVA"]==522]['CO_ITEM'].unique()
arr2 = dfItens[dfItens["CO_PROVA"]==515]['CO_ITEM'].unique()

In [30]:
np.setdiff1d(arr, arr2)

array([96479], dtype=int64)

In [31]:
dfItens["SG_AREA"].unique()

array(['LC', 'CH', 'CN', 'MT'], dtype=object)

In [32]:
dfSub = {"CN":[], "MT":[], "CH":[], "LC":[]}

for sub in dfSub.keys():
    dfSub[sub] = pd.read_parquet(f'../../Datasets/BySubject/{sub}_2019_SAOPAULO.parquet')
    print(sub)
    print(dfSub[sub][f"CO_PROVA_{sub}"].unique())

CN
[505. 504. 503. 506. 523. 519.]
MT
[518. 516. 515. 517. 526. 522.]
CH
[509. 510. 507. 508. 524. 520.]
LC
[514. 513. 511. 512. 525. 521.]

In [33]:
dfHead = dfSub["LC"].head(10)
dfHead

,NU_INSCRICAO,LC1,LC2,LC3,LC4,LC5,LC6,LC7,LC8,LC9,...,LC38,LC39,LC40,LC41,LC42,LC43,LC44,LC45,NU_NOTA_LC,CO_PROVA_LC
0,190001592266,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,502.5,514.0
1,190001595667,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,518.2,513.0
2,190001595676,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,600.0,511.0
3,190001595684,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,517.3,511.0
4,190001595691,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,569.6,514.0
5,190001595698,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,510.7,514.0
6,190001595700,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,531.3,514.0
7,190001595703,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,639.9,512.0
8,190001595705,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,566.0,512.0
9,190001595714,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,537.4,512.0

In [34]:
for i, column in enumerate(dfHead.columns[1:46]):
    dfHead.loc[:, column] = str(i)+"_"

dfHead

C:\Users\Gustavo Castro\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,NU_INSCRICAO,LC1,LC2,LC3,LC4,LC5,LC6,LC7,LC8,LC9,...,LC38,LC39,LC40,LC41,LC42,LC43,LC44,LC45,NU_NOTA_LC,CO_PROVA_LC
0,190001592266,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,502.5,514.0
1,190001595667,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,518.2,513.0
2,190001595676,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,600.0,511.0
3,190001595684,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,517.3,511.0
4,190001595691,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,569.6,514.0
5,190001595698,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,510.7,514.0
6,190001595700,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,531.3,514.0
7,190001595703,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,639.9,512.0
8,190001595705,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,566.0,512.0
9,190001595714,0_,1_,2_,3_,4_,5_,6_,7_,8_,...,37_,38_,39_,40_,41_,42_,43_,44_,537.4,512.0

In [35]:
for index, row in dfHead.iterrows():
    codigo = int(row["CO_PROVA_LC"])
    arrayPos = np.array(arrayResp["LC"][f"CO_POSICAO_{codigo}"]) + 1 
    arrayPos = np.insert(arrayPos, 0 , 0)
    arrayPos = np.insert(arrayPos, 46 , 46)
    arrayPos = np.insert(arrayPos, 47 , 47)

    rowCopy = dfHead.iloc[index, arrayPos]

    dfHead.iloc[index, :] = rowCopy

ValueError: Must have equal len keys and value when setting with an iterable